name: node.js

on:
  push:
    branches:
      - main
      
  pull_request:
    branches:
      - main
    paths:
      - backend/**
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]  

    steps: 
      - uses: actions/checkout@v4 # This pulls your repo into the VM so CI can read your code.
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci 
      - run: npm run build --if-present
      - name: Run Lint
        run: npm run lint --if-present
      - run: npm test  